/* ==|====================
   Layout/Header
   ======================= */
@import "compass/css3";
header {
	background-image:url(/img/sbirt_header_bg_1x.png);
	// background-size: 2px 2px;
}
.header {

	&--logo {
		margin: 10px 15px 15px 0;
		float: left;
		color: #fff;
		font-size: 5.5em;
		line-height: 1em;
		}
	&--site-title {
		color: white;
		font-size: 1.9em;
		padding-top: 0.73em;
		line-height: 1.2em;
	}
	&--site-subtitle {
		color: #fff;
		font-size: 1.5em;
		overflow: auto;
		line-height: 1.4em;
		margin-top: .15em;
		font-weight: 300;

	}
	}
.l-header {
	@extend %page-margins;
	position: relative;
}
