<ul>
	<li><a href="SAT-ED-IL-info.html">Illinois Department of Human Services</a></li>
	<li><a href="SAT-ED-IN-info.html">Indiana Family and Social Services Administration</a></li>
	<li><a href="SAT-ED-IA-info.html">Iowa Department of Public Health</a></li>
	<li><a href="SAT-ED-KY-info.html">Kentucky Cabinet for Health and Family Services</a></li>
	<li><a href="SAT-ED-LA-info.html">Louisiana Department of Health & Hospitals</a></li>
	<li><a href="SAT-ED-ME-info.html">Maine Department of Health and Human Services</a></li>
	<li><a href="SAT-ED-MA-info.html">Massachusetts Department of Public Health</a></li>
	<li><a href="SAT-ED-MT-info.html">Montana Public Health and Human Services</a></li>
	<li><a href="SAT-ED-NY-info.html">New York State Office of Alcoholism and Substance Abuse Services</a></li>
	<li><a href="SAT-ED-OK-info.html">Oklahoma Department of Mental Health and Substance Abuse Services</a></li>
	<li><a href="SAT-ED-PR-info.html">Puerto Rico Mental Health and Anti-Addiction Services Administration</a></li>
	<li><a href="SAT-ED-SC-info.html">South Carolina Department of Alcohol and Other Drug Abuse Services</a></li>
	<li><a href="SAT-ED-WA-info.html">Washington State Department of Social and Health Services</a></li>
</ul>