<script type="text/javascript" language="javascript">
$(document).ready(function() {
  $.fn.tooltipster('setDefaults', {
        animation: 'grow',
        theme: 'tooltipster-sbirtmap',
        maxWidth: 450,
        minWidth: 350,
        interactive: true,
        trigger: 'click',
        positionTracker: true,
});
    $('#ky').tooltipster({
      content: $('<h2>Kentucky Substance Abuse Treatment Enhancement and Dissemination</h2> <p><span class="label">Dates:</span> July 22–24, 2013</p> <p><span class="label">Site Visit Team Members:</span><br>Carolyn Castro-Donlan, M.A.<br>Doreen Cavanaugh, Ph.D.<br>Jennifer Kasten, Ph.D.<br>Gina E. Wood (Coach Consultant)</p><p><span class="label">Sites Visited:</span><br>Kentucky Department for Behavioral Health, Developmental and Intellectual Disabilities</p><p><a href=\"SED-KY-visit.html\">View Site Visit Report</a></p>') 
    });
    $('#me').tooltipster({
      content: $('<h2>Maine Youth Treatment Recovery Enhancement Project</h2> <p><span class="label">Dates:</span> August 20–22, 2013</p> <p><span class="label">Site Visit Team Members:</span><br>Carolyn Castro-Donlan M.A.<br>Doreen Cavanaugh, Ph.D. <br>Gina E. Wood (Coach Consultant)</p><p><span class="label">Sites Visited:</span><br>Maine Office of Substance Abuse and Mental Health Services</p><p><a href=\"SED-ME-visit.html\">View Site Visit Report</a></p>') 
    });

    $('#in').tooltipster({
      content: $('<h2>Indiana SAT-ED</h2> <p><span class="label">Dates:</span> September 10–12, 2013</p> <p><span class="label">Site Visit Team Members:</span><br>Pam Petersen-Baston, M.P.A., CAP, CPP<br>Doreen Cavanaugh, Ph.D.<br>Susan L. Endres, M.P.A. (Coach Consultant)</p><p><span class="label">Sites Visited:</span><br>Indiana Family and Social Services Administration, Indiana Division of Mental Health and Addiction</p><p><a href=\"SED-IN-visit.html\">View Site Visit Report</a></p>')
     });

    $('#ny').tooltipster({
      content: $('<h2>New York Serving Adolescents in Need of Treatment</h2> <p><span class="label">Dates:</span> September 24–26, 2013</p> <p><span class="label">Site Visit Team Members:</span><br>Larke Huang, Ph.D.<br>Katelyn Harrington, M.P.A., M.A. <br>Jennifer J. Kasten, Ph.D.<br>Pam Baston, M.P.A., CAP, CPP, JBS International<br>Doreen Cavanaugh, Ph.D.<br>Peter Panzarella, M.A., M.S., LADC, LPC (Coach Consultant)</p><p><span class="label">Sites Visited:</span><br>New York Office of Alcoholism and Substance Abuse Services</p><p><a href=\"SED-NY-visit.html\">View Site Visit Report</a></p>') 
    });

    $('#mt').tooltipster({content: $('<h2>Montana Co-Occurring Capacity Building </h2> <p><span class="label">Dates:</span> October 29–31, 2013</p> <p><span class="label">Site Visit Team Members:</span><br>Pam Baston, M.P.A., CAP, CPP<br>Doreen Cavanaugh, Ph.D.<br>Peter Panzarella, M.A., M.S., LADC, LPC (Coach Consultant)</p><p><span class="label">Sites Visited:</span><br> Montana Department of Public Health and Human Services, Children&rsquo;s Mental Health Bureau <br>Western Montana Addiction Services <br>Intermountain</p><p><a href=\"SED-MT-visit.html\">View Site Visit Report</a></p>') 
  });

    $('#ok').tooltipster({
      content: $('<h2>Oklahoma Adolescent Recovery Collaborative</h2> <p><span class="label">Dates:</span> November 19–21, 2013</p> <p><span class="label">Site Visit Team Members:</span><br>Pam Baston, M.P.A., CAP, CPP<br>Doreen Cavanaugh, Ph.D.<br>Peter Panzarella, M.A., M.S., LADC, LPC (Coach Consultant)</p><p><span class="label">Sites Visited:</span><br>Oklahoma Department of Mental Health and Substance Abuse Services </p> <p><a href=\"SED-OK-visit.html\">View Site Visit Report</a></p>') });

    $('#sc').tooltipster({content: $('<h2>Collaboration for Success</h2> <p><span class="label">Dates:</span> December 10–12, 2013</p> <p><span class="label">Site Visit Team Members:</span><br>Pam Baston, M.P.A., CAP, CPP<br>Doreen Cavanaugh, Ph.D.<br>Sherese Brewington-Carr, M.H.S. (Coach Consultant)</p><p><span class="label">Sites Visited:</span><br>South Carolina Department of Alcohol and Other Drug Abuse Services </p><p><a href=\"SED-SC-visit.html\">View Site Visit Report</a></p>') 
  });

    $('#pr').tooltipster({content: $('<h2>Puerto Rico State Adolescent Treatment Enhancement and Dissemination</h2> <p><span class="label">Dates:</span> February 11–13, 2014</p> <p><span class="label">Site Visit Team Members:</span><br>Carolyn Castro-Donlan, M.A.<br>Doreen Cavanaugh, Ph.D. <br>Charlie Alcaraz, M.P.A. (Coach Consultant)</p><p><span class="label">Sites Visited:</span><br>Central Harlem STD Clinic<br>Mental Health and Anti-Addiction Services Administration </p><p><a href=\"SED-PR-visit.html\">View Site Visit Report</a></p>') 
  });

    $('#ia').tooltipster({
      content: $('<h2>Families in FOCUS</h2> <p><span class="label">Dates:</span> April 9–11, 2014</p> <p><span class="label">Site Visit Team Members:</span><br>Pamela Baston, M.P.A., CAP, CPP<br>Doreen Cavanaugh, Ph.D.<br>Stephenie Colston, M.A.<br>Susan Endres, M.P.A. (Coach Consultant)</p><p><span class="label">Sites Visited:</span><br>Iowa Department of Public Health</p><p><a href=\"SED-IA-visit.html\">View Site Visit Report</a></p>') 
    });
    $('#wa').tooltipster({
      content: $('<h2>Washington Recovery Youth Services</h2> <p><span class="label">Dates:</span> April 22–24, 2014</p> <p><span class="label">Site Visit Team Members:</span><br>Pam Baston, M.P.A., CAP, CPP<br>Doreen Cavanaugh, Ph.D<br>Matthew Clune, M.S.<br>Sherese Brewington-Carr, M.H.S. (Coach Consultant)</p><p><span class="label">Sites Visited:</span><br>Washington Division of Behavioral Health and Recovery</p><p><a href=\"SED-WA-visit.html\">View Site Visit Report</a></p>') 
    });
    $('#la').tooltipster({
      content: $('<h2>Louisiana State Adolescent Treatment Enhancement and Dissemination Program</h2> <p><span class="label">Dates:</span> May 6–8, 2014</p> <p><span class="label">Site Visit Team Members:</span><br>Pam Baston, M.P.A., CAP, CPP<br>Doreen Cavanaugh, Ph.D<br>Melissa Silhan, M.A., LMHC, CAP (Coach Consultant)</p><p><span class="label">Sites Visited:</span><br>Louisiana Office of Behavioral Health</p><p><a href=\"SED-LA-visit.html\">View Site Visit Report</a></p>') 
    });
      $('#ma').tooltipster({
      content: $('<h2>Treatment Enhancement for Adolescents in Massachusetts</h2> <p><span class="label">Dates:</span> May 20–23, 2014</p> <p><span class="label">Site Visit Team Members:</span><br>Carolyn Castro-Donlan, M.A.<br>Doreen Cavanaugh, Ph.D.<br>Matthew Clune, M.S.<br>Peter Panzarella, M.H.S. (Coach Consultant)</p><p><span class="label">Sites Visited:</span><br>Massachusetts Bureau of Substance Abuse Services</p> <p><a href=\"SED-MA-visit.html\">View Site Visit Report</a></p>') 

 });
      $('#il').tooltipster({
      content: $('<h2>Illinois Adolescent Infrastructure and Treatment Enhancement Initiative</h2> <p><span class="label">Dates:</span> June 3–5, 2014</p> <p><span class="label">Site Visit Team Members:</span><br>Ruby Neville, M.S.W., LGSW<br>Pam Baston, M.P.A., CAP, CPP<br>Doreen Cavanaugh, Ph.D.<br>Melissa Silhan, M.A., LMHC, CAP (Coach Consultant)</p><p><span class="label">Sites Visited:</span><br>Illinois Department of Human Services, Division of Alcoholism and Substance Abuse</p><p><a href=\"SED-IL-visit.html\">View Site Visit Report</a></p>') 

    });
});
</script>