<script type="text/javascript" language="javascript">
$(document).ready(function() {
  $.fn.tooltipster('setDefaults', {
        animation: 'grow',
        theme: 'tooltipster-sbirtmap',
        maxWidth: 450,
        minWidth: 350,
        interactive: true,
        trigger: 'click',
        positionTracker: true,
});
    
$('#vt').tooltipster({
		content: $('<h2>VermontT</h2><p><span class="label">Dates:</span>  August 25-27, 2014</p><p><span class="label">Site Visit Team Members:</span><br>Contracting Staff: </p><p><span class="label">Sites Visited:</span><br></p><p><a href=\"SYT-VT-visit.html\"> Site Visit Report</a></p>') 
    });
	
$('#ak').tooltipster({
      content: $('<h2>Alaska</h2> <p><span class="label">Dates:</span> September 30 – October 2, 2014</p><p><span class="label">Site Visit Team Members:</span><br>Contracting Staff: Marcus Hudson, M.S.; Joseph Hyde, M.A. LMHC; Dave Wanser, Ph.D.</p><p>Peer Consultant: Karen Steinberg-Gallucci, Ph.D. </p><p><span class="label">Sites Visited:</span><br>South Carolina Department of Alcohol and Other Drug Abuse Services <br>Healthwise Family Medicine <br>Barnwell Family Medicine<br>Axis 1 Center of Barnwell</p><p><a href=\"SYT-AK-visit.html\"> Site Visit Report</a></p>') 
    });

$('#id').tooltipster({
	content: $('<h2>Idaho</h2><p><span class="label">Dates:</span> ctober 21-23, 2014</p><p><span class="label">Site Visit Team Members:</span><br>Contracting Staff: Joseph Hyde, M.A.; Matthew French, M.P.H.</p><p><span class="label">Sites Visited:</span><br>Vermont Department of Health<br>Peoples Health and Wellness Clinic<br>The Health Center<br>Community Health Centers of Burlington</p><p><a href=\"SYT-ID-visit.html\">Site Visit Report</a></p>') 
});

$('#dc').tooltipster({
      content: $('<h2>District of Columbia</h2><p><span class="label">Dates:</span>October 28-30, 2014</p><p><span class="label">Site Visit Team Members:</span><br>Contracting Staff: Joseph Hyde, M.A., LMHC; Beth Johnson, M.P.H.</p><p>Peer Consultant: Bruce Horwitz, Ph.D.</p><p><span class="label">Sites Visited:</span><br>First Nations Community Healthsource<br>Jemez Pueblo Health Clinic<br>Sangre de Cristo Community Health Partnership</p><p><a href=\"SYT-DC-visit.html\">Site Visit Report</a></p>')
 });

$('#ms').tooltipster({
	content: $('<h2>Mississippi</h2><p><span class="label">Dates:</span>  December 9-11, 2014</p><p><span class="label">Site Visit Team Members:</span><br>Contracting Staff: Joseph Hyde, M.A., LMHC; Dave Wanser, Ph.D.; Denise Stockton, M.A.</p><p>Peer Consultant: Janice Lee Pringle, Ph.D.</p><p><span class="label">Sites Visited:</span><br>North Shore Long Island Jewish Southside Hospital<br>865 Internal Medicine Clinic<br>North Shore Long Island Jewish Lenox Hill HealthPlex</p><p><a href=\"SYT-MS-visit.html\">Site Visit Report</a></p>')
});

});
</script>