<script type="text/javascript" language="javascript">
$(document).ready(function() {
  $.fn.tooltipster('setDefaults', {
        animation: 'grow',
        theme: 'tooltipster-sbirtmap',
        maxWidth: 250,
        minWidth: 250,
        interactive: true,
        trigger: 'click',
});
    $('#ak').tooltipster({
      content: $('<h2> Alaska</h2> <p><span class="label">Grantee Name:</span><br> Alaska Department of Health and Social Services</p> <p><span class="label">TI Number:</span><br> TI-025314</p> <p><span class="label">Grantee Project Director:</span><br>KStacy Toner<br> Tel: 704-466-2777<br><a href=\"mailto:stacy.toner@alaska.gov">stacy.toner@alaska.gov</a></p> <p><a href=\"http://dhss.alaska.gov/Pages/default.aspx/" target=\"_blank">Alaska Department of Health and Social Services Website</a></p> <p><span class="label">Government Project Officer:</span><br>Melissa Rael, CAPT, USPHS</p> <p><a href=\"SYT-AK-info.html\">View Program Information</a></p>')
    });

    $('#az').tooltipster({
      content: $('<h2> Arizona</h2> <p><span class="label">Grantee Name:</span><br> Arizona Youth Substance Abuse Grant</p> <p><span class="label">TI Number:</span><br>TI-025319</p> <p><span class="label">Grantee Project Director:</span><br>Kevin Flynn<br> Tel: 602-364-4685<br> <a href=\"mailto:kevin.flynn@azdhs.gov">kevin.flynn@azdhs.gov</a></p> <p><a href=\"http://www.azdhs.gov/" target=\"_blank\"> Arizona Youth Substance Abuse Grant</a></p> <p><span class="label">Government Project Officer:</span><br>Melissa Rael, CAPT, USPHS</p> <p><a href=\"SYT-AZ-info.html\">View Program Information</a></p> ')
    });

    $('#ok').tooltipster({
      content: $('<h2> Oklahoma</h2> <p><span class="label">Grantee Name:</span><br>The Chickasaw Nation </p> <p><span class="label">TI Number:</span><br> TI-025320</p> <p><span class="label">Grantee Project Director:</span><br>Randi Sunray<br> Tel: 405-767-8940<br><a href=\"mailto:"Randi.Sunray@chickasaw.net"\">Randi.Sunray@chickasaw.net</a></p> <p><a href=\"https://www.chickasaw.net/Office-of-the-Governor/Home.aspx/" target=\"_blank\">The Chickasaw Nation Website</a></p> <p><span class="label">Government Project Officer:</span><br>Melissa Rael, CAPT, USPHS</p> <p><a href=\"SYT-OK-info.html\">View Program Information</a></p> ')
    });

    $('#co').tooltipster({
      content: $('<h2> Colorado</h2> <p><span class="label">Grantee Name:</span><br>Colorado Department of Human Services</p> <p><span class="label">TI Number:</span><br>TI-025334</p> <p><span class="label">Grantee Project Director:</span><br>Katie Wells<br> Tel: 303-866-7501<br><a href=\"mailto:katie.wells@state.co.us\">katie.wells@state.co.us</a></p> <p><a href=\"http://www.colorado.gov/cs/Satellite/CDHS-Main/CBON/1251575083520\" target=\"_blank\">Colorado Department of Human Services</a></p> <p><span class="label">Government Project Officer:</span><br>Melissa Rael, CAPT, USPHS</p> <p><a href=\"SYT-CO-info.html\">View Program Information</a></p> ')
    });

    $('#dc').tooltipster({
      content: $('<h2> District of Columbia</h2> <p><span class="label">Grantee Name:</span><br>District of Columbia Department of Health</p> <p><span class="label">TI Number:</span><br>TI-025317</p> <p><span class="label">Grantee Project Director:</span><br>Marie Morilus-Black<br> Tel: 202-441-5371<br> <a href=\"mailto:marie.morilus-black@dc.gov\">morilus-black@dc.gov</a></p> <p><a href=\"http://dmh.dc.gov/page/apra\" target=\"_blank\">District of Columbia Department of Health</a></p> <p><span class="label">Government Project Officer:</span><br>Ruby Neville, M.S.W., LGSW</p> <p><a href=\"SYT-DC-info.html\">View Program Information</a></p> ')
    });

    $('#nv').tooltipster({
      content: $('<h2> Nevada</h2> <p><span class="label">Grantee Name:</span><br>Fallon Paiute Shoshone Tribe </p> <p><span class="label">TI Number:</span><br>TI-025315</p> <p><span class="label">Grantee Project Director:</span><br>Leslie Steve<br> Tel: 775-423-3634, ext. 225<br><a href=\"mailto:mhsadirector@fpst.org\">mhsadirector@fpst.org</a></p> <p><a href=\"http://www.fpst.org/departments/fpst-clinic/\" target=\"_blank\">Fallon Paiute Shoshone Tribe Website</a></p> <p><span class="label">Government Project Officer:</span><br>Melissa Rael, CAPT, USPHS</p> <p><a href=\"SYT-NV-ME-info.html\">View Program Information</a></p> ')
    });

    $('#id').tooltipster({
      content: $('<h2>Idaho</h2> <p><span class="label">Grantee Name:</span><br>Idaho Department of Health and Welfare</p> <p><span class="label">TI Number:</span><br>TI-025324</p> <p><span class="label">Grantee Project Director:</span><br>Robert Christensen<br> Tel: 208-334-6546<br><a href=\"mailto:christensenr@dhw.idaho.gov\">christensenr@dhw.idaho.gov</a></p> <p><a href=\"http://www.healthandwelfare.idaho.gov/Home/tabid/55/Default.aspx\" target=\"_blank\">Idaho Department of Health and Welfare Website</a></p> <p><span class="label">Government Project Officer:</span><br>Ruby Neville, M.S.W., LGSW</p> <p><a href=\"SYT-ID-info.html\">View Program Information</a></p> ')
    });

    $('#md').tooltipster({
      content: $('<h2> Maryland</h2> <p><span class="label">Grantee Name:</span><br>Maryland Behavioral Health Administration</p> <p><span class="label">TI Number:</span><br>TI-025312</p><p><span class="label">Grantee Project Director:</span><br>Lisa Morrel<br> Tel: 410-402-8624<br><a href=\"mailto:lisa.morrel@maryland.gov\">lisa.morrel@maryland.gov</a></p> <p><a href=\"http://adaa.dhmh.maryland.gov/SitePages/Home.aspx" target=\"_blank\">Maryland Behavioral Health Administration Website</a></p> <p><span class="label">Government Project Officer:</span><br>Melissa Rael, CAPT, USPHS</p> <p><a href=\"SYT-MD-MT-info.html\">View Program Information</a></p> ')
    });
    $('#ms').tooltipster({
      content: $('<h2> Mississippi</h2> <p><span class="label">Grantee Name:</span><br>Mississippi Department of Mental Health</p> <p><span class="label">TI Number:</span><br>TI-025307</p><p><span class="label">Grantee Project Director:</span><br>Pam Smith<br>Tel: 601-359-6225 <br><a href=\"mailto:Pam.Smith@dmh.state.ms.us\">Pam.Smith@dmh.state.ms.us</a></p><p><a href=\"   http://www.dmh.ms.gov/grant-to-help-improve-co-occurring-treatment-for-mississippi-adolescents/" target=\"_blank\">Mississippi Department of Mental Health Website</a></p> <p><span class="label">Government Project Officer:</span><br>Melissa Rael, CAPT, USPHS</p> <p><a href=\"SYT-MS-NY-info.html\">View Program Information</a></p> ')
    });
    $('#tn').tooltipster({
      content: $('<h2> Tennessee</h2> <p><span class="label">Grantee Name:</span><br>Tennessee Department of Mental Health and Substance Abuse Services</p> <p><span class="label">TI Number:</span><br>TI-025322</p><p><span class="label">Grantee Project Director:</span><br>Linda McCorkle<br>Tel: 615-532-7803 <br><a href=\"mailto:linda.mccorkle@tn.gov\">linda.mccorkle@tn.gov</a></p><p><a href=\"http://www.state.tn.us/mental/" target=\"_blank\">Tennessee Department of Mental Health and Substance Abuse Services Website</a></p> <p><span class="label">Government Project Officer:</span><br>Ruby Neville, M.S.W., LGSW</p> <p><a href=\"SYT-TN-OK-info.html\">View Program Information</a></p> ')
    });
      $('#vt').tooltipster({
      content: $('<h2> Vermont</h2> <p><span class="label">Grantee Name:</span><br>Vermont Department of Health Division of Alcohol and Drug Abuse Programs</p> <p><span class="label">TI Number:</span><br>TI-025313</p><p><span class="label">Grantee Project Director:</span><br>Amy Danielson<br>Tel: 802-651-1557<br><a href=\"mailto:Amy.Danielson@state.vt.us\">Amy.Danielson@state.vt.us</a></p> <p><a href=\"http://healthvermont.gov/adap/adap.aspx" target=\"_blank\">Vermont Department of Health Division of Alcohol and Drug Abuse Programs Website</a></p> <p><span class="label">Government Project Officer:</span><br>Ruby Neville, M.S.W., LGSW</p> <p><a href=\"SYT-VT-PR-info.html\">View Program Information</a></p> ')
    });
});
</script>