<script type="text/javascript" language="javascript">
$(document).ready(function() {
  $.fn.tooltipster('setDefaults', {
        animation: 'grow',
        theme: 'tooltipster-sbirtmap',
        maxWidth: 450,
        minWidth: 350,
        interactive: true,
        trigger: 'click',
        positionTracker: true,
});
    
$('#vt').tooltipster({
		content: $('<h2>Vermont Youth Treatment Enhancement Program</h2><p><span class="label">Dates:</span>  August 25&ndash;27, 2014</p><p><span class="label">Site Visit Team Members:</span><br>Doreen Cavanaugh, Ph.D.<br />John Roberts, M.S.Ed., CSAC<br />James Van Hecke, M.S<br />Peter Panzarella, M.A., M.S., LADC, LPC (Coach Consultant)</p><p><span class="label">Sites Visited:</span><br>Vermont Department of Health, Division of Alcohol and Drug Abuse Programs</p><p><a href=\"SYT-VT-info.html\">View Program Info</a></p>') 
    });
	
$('#ak').tooltipster({
      content: $('<h2>Alaska\'s Partnership to Improve Outcomes for Adolescents and Families</h2> <p><span class="label">Dates:</span> September 30&ndash;October 2, 2014</p><p><span class="label">Site Visit Team Members:</span><br>Doreen Cavanaugh, Ph.D.<br />John Roberts, M.S.Ed., CSAC<br />Kari Earle, M.Ed. (Coach Consultant)</p><p><span class="label">Sites Visited:</span><br>Alaska Department of Health and Social Services, Division of Behavioral Health</p><p><a href=\"SYT-AK-info.html\">View Program Info</a></p>') 
    });

$('#id').tooltipster({
	content: $('<h2>Idaho Youth Treatment Program</h2><p><span class="label">Dates:</span> October 21&ndash;23, 2014</p><p><span class="label">Site Visit Team Members:</span><br>Doreen Cavanaugh, Ph.D.<br />John Roberts, M.S.Ed., CSAC<br />Kari Earle, M.Ed. (Coach Consultant)</p><p><span class="label">Sites Visited:</span><br>Idaho Department of Health and Welfare, Division of Behavioral Health, Central Office</p><p><a href=\"SYT-ID-info.html\">View Program Info</a></p>') 
});

$('#dc').tooltipster({
      content: $('<h2>District of Columbia State Adolescent and Transitional-Aged Youth Treatment Project</h2><p><span class="label">Dates:</span> October 28&ndash;30, 2014</p><p><span class="label">Site Visit Team Members:</span><br>Doreen Cavanaugh, Ph.D.<br />Ruby Neville, M.S.W.<br />John Roberts, M.S.Ed., CSAC<br />Calvin Trent, Ph.D. (Coach Consultant)</p><p><span class="label">Sites Visited:</span><br>District of Columbia Department of Behavioral Health</p><p><a href=\"SYT-DC-info.html\">View Program Info</a></p>')
 });

$('#ms').tooltipster({
	content: $('<h2>Mississippi State Youth Treatment Enhancement and Dissemination Project</h2><p><span class="label">Dates:</span>  December 9&ndash;11, 2014</p><p><span class="label">Site Visit Team Members:</span><br>Doreen Cavanaugh, Ph.D.<br>John Roberts, M.S.Ed., CSAC<br />Melissa Silhan M.A., LMHC, CAP (Coach Consultant)</p><p><span class="label">Sites Visited:</span><br>Mississippi Department of Mental Health </p><p><a href=\"SYT-MS-info.html\">View Program Info</a></p>')
});

});
</script>