<ul>
	<li><a href="SAT-ED-IL-info.html">Alaska Department of Health and Social Services</a></li>
	<li><a href="SAT-ED-IN-info.html">Arizona Department of Health Services	</a></li>
	<li><a href="SAT-ED-IA-info.html">Colorado Department of Human Services</a></li>
	<li><a href="SAT-ED-KY-info.html">District of Columbia Department of Health</a></li>
	<li><a href="SAT-ED-LA-info.html">Fallon Paiute Shoshone Tribe (Located in Fallon, NV)</a></li>
	<li><a href="SAT-ED-IN-info.html">Idaho Department of Health and Welfare</a></li>
	<li><a href="SAT-ED-IA-info.html">Maryland Behavioral Health Administration</a></li>
	<li><a href="SAT-ED-KY-info.html">Mississippi Department of Mental Health</a></li>
	<li><a href="SAT-ED-LA-info.html">Vermont Department of Health Division of Alcohol and Drug Abuse Programs</a></li>
	<li><a href="SAT-ED-LA-info.html">Tennessee Department of Mental Health and Substance Abuse Services</a></li>
	<li><a href="SAT-ED-LA-info.html">The Chickasaw Nation (Located in Ada, OK)</a></li>

</ul>