<!-- Cohorts -->
{% if page.cohort == 'SAT-ED' %} {% assign cohort_name = '2012 State Adolescent Treatment Enhancement and Dissemination (SAT-ED)' %} {% endif %}
{% if page.cohort == 'SYT' %} {% assign cohort_name = 'S2013 State Youth Treatment' %} {% endif %}

<!--SAT-ED-->
{% if page.cohort == 'SAT-ED' and page.grantee == 'IA' %} {% assign grantee_name = 'Des Moines, Iowa' %} {% endif %}
{% if page.cohort == 'SAT-ED' and page.grantee == 'IL' %} {% assign grantee_name = 'Chicago, Illinois' %} {% endif %}
{% if page.cohort == 'SAT-ED' and page.grantee == 'IN' %} {% assign grantee_name = 'Indianapolis, Indiana' %} {% endif %}
{% if page.cohort == 'SAT-ED' and page.grantee == 'KY' %} {% assign grantee_name = 'Frankfort, Kentucky' %} {% endif %}
{% if page.cohort == 'SAT-ED' and page.grantee == 'LA' %} {% assign grantee_name = 'Baton Rouge, Louisiana' %} {% endif %}
{% if page.cohort == 'SAT-ED' and page.grantee == 'MA' %} {% assign grantee_name = 'Boston, Massachusetts' %} {% endif %}
{% if page.cohort == 'SAT-ED' and page.grantee == 'ME' %} {% assign grantee_name = 'Augusta, Maine' %} {% endif %}
{% if page.cohort == 'SAT-ED' and page.grantee == 'MT' %} {% assign grantee_name = 'Helena, Montana' %} {% endif %}
{% if page.cohort == 'SAT-ED' and page.grantee == 'NY' %} {% assign grantee_name = 'Albany, New York' %} {% endif %}
{% if page.cohort == 'SAT-ED' and page.grantee == 'OK' %} {% assign grantee_name = 'Oklahoma City, Oklahoma' %} {% endif %}
{% if page.cohort == 'SAT-ED' and page.grantee == 'PR' %} {% assign grantee_name = 'Bayamon, Puerto Rico' %} {% endif %}
{% if page.cohort == 'SAT-ED' and page.grantee == 'SC' %} {% assign grantee_name = 'Columbia, South Carolina' %} {% endif %}
{% if page.cohort == 'SAT-ED' and page.grantee == 'WA' %} {% assign grantee_name = 'Olympia, Washington' %} {% endif %}

<!-- SYT -->
{% if page.cohort == 'C5' and page.grantee == 'NM' %} {% assign grantee_name = 'New Mexico' %} {% endif %}
{% if page.cohort == 'C5' and page.grantee == 'NY' %} {% assign grantee_name = 'New York' %} {% endif %}
{% if page.cohort == 'C5' and page.grantee == 'OH' %} {% assign grantee_name = 'Ohio' %} {% endif %}
{% if page.cohort == 'C5' and page.grantee == 'SC' %} {% assign grantee_name = 'South Carolina' %} {% endif %}
{% if page.cohort == 'C5' and page.grantee == 'VT' %} {% assign grantee_name = 'Vermont' %} {% endif %}
