<!-- Cohorts -->
{% if page.cohort == 'SED' %} {% assign cohort_name = 'SAT-ED' %} {% endif %}
{% if page.cohort == 'SYT' %} {% assign cohort_name = 'SYT' %} {% endif %}

<!--SED-->
{% if page.cohort == 'SED' and page.grantee == 'IA' %} {% assign grantee_name = 'Iowa Department of Public Health' %} {% endif %}
{% if page.cohort == 'SED' and page.grantee == 'IL' %} {% assign grantee_name = 'Illinois Department of Human Services' %} {% endif %}
{% if page.cohort == 'SED' and page.grantee == 'IN' %} {% assign grantee_name = 'Indiana Family and Social Services Administration' %} {% endif %}
{% if page.cohort == 'SED' and page.grantee == 'KY' %} {% assign grantee_name = 'Kentucky Cabinet for Health and Family Services' %} {% endif %}
{% if page.cohort == 'SED' and page.grantee == 'LA' %} {% assign grantee_name = 'Louisiana Department of Health & Hospitals' %} {% endif %}
{% if page.cohort == 'SED' and page.grantee == 'MA' %} {% assign grantee_name = 'Massachusetts Department of Public Health' %} {% endif %}
{% if page.cohort == 'SED' and page.grantee == 'ME' %} {% assign grantee_name = 'Maine Department of Health and Human Services' %} {% endif %}
{% if page.cohort == 'SED' and page.grantee == 'MT' %} {% assign grantee_name = 'Montana Public Health and Human Services' %} {% endif %}
{% if page.cohort == 'SED' and page.grantee == 'NY' %} {% assign grantee_name = 'New York State Office of Alcoholism and Substance Abuse Services' %} {% endif %}
{% if page.cohort == 'SED' and page.grantee == 'OK' %} {% assign grantee_name = 'Oklahoma Department of Mental Health and Substance Abuse Services' %} {% endif %}
{% if page.cohort == 'SED' and page.grantee == 'PR' %} {% assign grantee_name = 'Puerto Rico Mental Health and Anti-Addiction Services Administration' %} {% endif %}
{% if page.cohort == 'SED' and page.grantee == 'SC' %} {% assign grantee_name = 'South Carolina Department of Alcohol and Other Drug Abuse Services' %} {% endif %}
{% if page.cohort == 'SED' and page.grantee == 'WA' %} {% assign grantee_name = 'Washington State Department of Social and Health Services' %} {% endif %}

<!-- SYT -->
{% if page.cohort == 'SYT' and page.grantee == 'AK' %} {% assign grantee_name = 'Alaska Department of Health and Social Services' %} {% endif %}
{% if page.cohort == 'SYT' and page.grantee == 'AZ' %} {% assign grantee_name = 'Arizona Department of Health Services' %} {% endif %}
{% if page.cohort == 'SYT' and page.grantee == 'OK' %} {% assign grantee_name = 'The Chickasaw Nation' %} {% endif %}
{% if page.cohort == 'SYT' and page.grantee == 'CO' %} {% assign grantee_name = 'Colorado Department of Human Services' %} {% endif %}
{% if page.cohort == 'SYT' and page.grantee == 'DC' %} {% assign grantee_name = 'District of Columbia Department of Health' %} {% endif %}
{% if page.cohort == 'SYT' and page.grantee == 'NV' %} {% assign grantee_name = 'Fallon Paiute Shoshone Tribe' %} {% endif %}
{% if page.cohort == 'SYT' and page.grantee == 'ID' %} {% assign grantee_name = 'Idaho Department of Health and Welfare' %} {% endif %}
{% if page.cohort == 'SYT' and page.grantee == 'MD' %} {% assign grantee_name = 'Maryland Behavioral Health Administration' %} {% endif %}
{% if page.cohort == 'SYT' and page.grantee == 'MS' %} {% assign grantee_name = 'Mississippi Department of Mental Health' %} {% endif %}
{% if page.cohort == 'SYT' and page.grantee == 'TN' %} {% assign grantee_name = 'Tennessee Department of Mental Health and Substance Abuse Services' %} {% endif %}
{% if page.cohort == 'SYT' and page.grantee == 'VT' %} {% assign grantee_name = 'Vermont Department of Health Division of Alcohol and Drug Abuse Programs' %} {% endif %}
