{% include custom-variables.html %}
<nav class="nav-cohort-{{ page.cohort }}">
	<div class="nav-cohort-inner">
<ul class="sf-menu" id="example">
			<li>
				<a href="index.html">Find a Grantee</a>
{% if page.cohort == 'SED' %}{% include /SED/SED-nav-grantees.html %}{% endif %}
{% if page.cohort == 'SYT' %}{% include /SYT/SYT-nav-grantees.html %}{% endif %}
			</li>
			<li>
				<a href="{{ page.cohort }}-timeline.html">View Site Visit Timeline</a>
			</li>
			<li>
				<a href="{{ page.cohort }}-lessons.html">Cohort Overview</a>
				<ul>
					<li>
						<a href="{{ page.cohort }}-lessons.html">Lessons Learned </a>
					</li>
					<li>
						<a href="{{ page.cohort }}-evidence.html">Evidence-Based Practices </a>
					</li>
					<li>
						<a href="{{ page.cohort }}-evidence-assessments.html">Evidence-Based Assessments</a>
					</li>
				</ul>
			</li> 
			<li>
				<a href="{{ page.cohort }}-background.html">Review Background</a>
				<ul>
					<li>
						<a href="{{ page.cohort }}-background.html">About About SAMHSA’s Adolescent Program </a>
					</li>
					<li>
						<a href="{{ page.cohort }}-about.html">About {{ cohort_name }}</a>
					</li>
					<li>
						<a href="{{ page.cohort }}-visits.html">About Site Visits</a>
					</li>
				</ul>
			</li>
				</ul>
			</li>	
		</ul>
	</div>
</nav>