
<nav class="nav-primary"> 
<ul class="sf-menu" id="example">
			<li {% if page.cohort == null %} class="active" {% endif %}>
				<a href="/">Home</a>
			</li>
			<li {% if page.cohort == 'SED' %} class="active-SED" {% endif %}>
				<a href="/SED/index.html">SAT-ED</a>
				<ul>
					<li>
						<a href="/SED/index.html">Find Cohort Grantees</a>
					</li>
					<li>
						<a href="/SED/SED-timeline.html">View Site Visits Timeline</a>
					</li>
					<li>
						<a href="/SED/SED-lessons.html">Cohort Overview</a>
					</li>
					<li>
						<a href="/SED/SED-background.html">Review Background</a>
					</li>
				</ul>
			</li>
			<li {% if page.cohort == 'SYT' %} class="active-SYT" {% endif %}>
				<a href="/SYT/index.html">SYT</a>
				<ul>
					<li>
						<a href="/SYT/index.html">Find Cohort Grantees</a>
					</li>
					<li>
						<a href="/SYT/SYT-timeline.html">View Site Visits Timeline</a>
					</li>
 					<li>
						<a href="/SYT/SYT-lessons.html">Cohort Overview</a>
					</li>
					<li>
						<a href="/SYT/SYT-background.html">Review Background</a>
					</li>
				</ul>
			</li>
<!-- 			<li {% if page.cohort == 'about' %} class="active-about" {% endif %}>
				<a href="/SYT/index.html">About</a>
				<ul>
					<li>
						<a href="#">Cras Etiam Mollis</a>
					</li>
					<li>
						<a href="#">Lorem Ultricies</a>
					</li>
				</ul>
			</li> -->
		</ul>
</nav>