{% include custom-variables.html %}
<nav class="nav-cohort-{{ page.cohort }}">
	<div class="nav-cohort-inner">
<ul class="sf-menu" id="example">
			<li>
				<a href="index.html">Find a Grantee</a>
{% if page.cohort == 'SAT-ED' %}{% include /SAT-ED/SAT-ED-nav-grantees.html %}{% endif %}
{% if page.cohort == 'C5' %}{% include /C5/C5-nav-grantees.html %}{% endif %}

			</li>
			<li>
				<a href="{{ page.cohort }}-timeline.html">View Site Timeline</a>
			</li>
			<li>
				<a href="{{ page.cohort }}-background.html">Review Background</a>
				<ul>
					<li>
						<a href="{{ page.cohort }}-background.html">About Adolescent and {{ cohort_name }}</a>
					</li>
					<li>
						<a href="{{ page.cohort }}-visits.html">About Implementation Visits</a>
					</li>
				</ul>
			</li>
				</ul>
			</li>	
		</ul>
	</div>
</nav>